/* $Id$ */

#contextual {
  display: none;
}

/* Contextual links */

.contextual-action {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

a.contextual-toggler  {
  background: transparent url(images/gear-select.png) no-repeat 2px 0 !important;
  display: block !important;
  height: 18px !important;
  padding: 0 2px !important;
  outline: none !important;
  text-indent: 34px !important;
  width: 28px !important;
  overflow: hidden !important;
  z-index: 11;
  border-radius-topleft: 4px !important;
  border-radius-topright: 4px !important;
  -moz-border-radius-topleft: 4px !important;
  -moz-border-radius-topright: 4px !important;
  -webkit-border-radius-topleft: 4px !important;
  -webkit-border-radius-topright: 4px !important;
  position: absolute !important;
  top: -3px !important;
}

a.contextual-toggler:hover,
a.contextual-toggler-active {
	background-position: 2px -18px !important;
}

ul.contextual-links {
  padding: 0 !important;
  background-color: #fff !important;
  clear: both !important;
  width: auto !important;
  margin: 0 !important;
  border: 1px solid #ccc !important;
  position: absolute !important;
  top: 16px !important;
  padding: 0.25em 0 !important;
  white-space: nowrap !important;
  z-index: 12;
}

ul.contextual-links li,
ul.contextual-links li.odd,
ul.contextual-links li.even,
ul.contextual-links li.first,
ul.contextual-links li.last       {
  padding: 0 !important;
  border: none !important;
  list-style-type: none !important;
  list-style-image: none !important;
  margin: 0 !important;
  background-color: transparent !important;
  background-image: none !important;
}

ul.contextual-links li a {
  color: #333 !important;
  display:block !important;
  line-height: 20px !important;
  text-decoration: none !important;
  border: none !important;
  text-align: left !important;
  padding: 2px 1em !important;
  font-size: 11px !important;
  background-image: none !important;
}

ul.contextual-links li a:hover {
  color: #333 !important;
  background-color: #EEE !important;
  background-image: none !important;
}

/* Borders */

div.contextual-border {
  position:absolute;
  left:-5px;
  right:-5px;
  top:-5px;
  bottom:-5px;
  z-index: 10;
}

div.contextual-border-top {
  border-top: 1px dashed #999;
}

div.contextual-border-bottom {
  border-bottom: 1px dashed #999;
}

div.contextual-border-left {
  border-left: 1px dashed #999;
}

div.contextual-border-right {
  border-right: 1px dashed #999;
}
